<div class="container">
  <div class="row justify-content-center">
    <div class="col" style="padding: 20px;">
      <h1>My Cart</h1>
      <% if flash[:error] %>
          <% if flash[:error]['item'] %>
              <h3><%= flash[:error]['item'][0] %></h3>
          <% elsif flash[:error]['user'] %>
              <h3><%= flash[:error]['user'][0] %><a href="/login">here</a><%= flash[:error]['user'][1] %></h3>
          <% end %>
      <% end %>
      <% if @added %>
        <p><span style="font-weight: bold; font-size: 16px;">Item:</span>  <%= @item.name %></a></br></p>
        <p><span style="font-weight: bold; font-size: 16px;">Price:</span> $<%= '%.2f'%@item.price %></p>
        <form class="" action="/add_to_cart" method="post">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <input type="hidden" name="item_id" value="<%= @item.id %>">
          <input type="number" name="quantity" min="1" max="100" step='1' value="1">
          <input class="btn btn-primary" type="submit" name="cartBtn" value="Add to Cart" style="margin-bottom: 10px;">
        </form>
      <% end %>
    </div>
    <div class="col">
      <% if !@cart.empty? %>
          <table>
              <tr>
                  <th>Item</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Action</th>
              </tr>
              <% @cart.each_with_index do |id, index| %>
                  <tr>
                      <td><%= Item.find(id).name %></td>
                      <td><%= session[:quantities][index] %> ct.</td>
                      <td>$<%= '%.2f'%@prices[index] %></td>
                      <td><a class="btn btn-info" href="/remove/<%= index %>">Remove</a></td>
                  </tr>
              <% end %>
          </table>
          Total: $<%= @total %>

          <form class="" action="/purchase" method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="submit" name="purchaseBtn" value="Make Purchase" class="btn btn-primary" style="margin-bottom: 15px">
          </form>
      <% else %>
          <h3>There's Nothing in Your Cart</h3>
      <% end %>
    </div>
  </div>
</div>
<div style="display: block; margin-left: 220px;">
  <a class="btn btn-primary" style="margin-left: 90px; margin-bottom: 10px; margin-top:10px;" href="/deals">All Deals</a></br>
  <a class="btn btn-primary" style="margin-left: 90px; margin-bottom: 10px;" href="/logout">Logout</a></br>
</div>
