<div class="header">
  <div class="row">
    <div class="col-md-12">
      <%= link_to image_tag("Dacada_Logo.png", :alt => "logo") %>
      <h3 class="text-center">Daily deals on things you never knew you needed.</h3><br>
      <h2 class="text-center">Register for a new account:</h2>
    </div>
  </div>
</div>


<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <form action="/create" method="post" class="form-group">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <div class="form-group <%= if flash[:errors] then 'has-danger' end %>">
            <label class="form-control-label">First Name:
              <input class="form-control <%= if flash[:errors] then 'form-control-danger' end %>" type="text" name="first_name"></label>
              <% if flash[:errors] and flash[:errors]['first_name']%>
              <div class="form-control-feedback"><%= flash[:errors]['first_name'][0] %></div>
              <% end %>
          </div>
          <div class="form-group <%= if flash[:errors] then "has-danger" end %>">
            <label class="form-control-label">Last Name:
              <input class="form-control <%= if flash[:errors] then "form-control-danger" end %>" type="text" name="last_name"></label>
              <% if flash[:errors] and flash[:errors]['last_name'] %>
              <div class="form-control-feedback"><%= flash[:errors]['last_name'][0] %></div>
              <% end %>
          </div>
          <div class="form-group <%= if flash[:errors] then "has-danger" end %>">
            <label class="form-control-label">Email:
              <input class="form-control <%= if flash[:errors] then "form-control-danger" end %>" type="text" name="email"></label>
              <% if flash[:errors] and flash[:errors]['email'] %>
              <div class="form-control-feedback"><%= flash[:errors]['email'][0] %></div>
              <% end %>
          </div>
          <div class="form-group <%= if flash[:errors] then "has-danger" end %>">
            <label class="form-control-label">Password:
              <input class="form-control <%= if flash[:errors] then "form-control-danger" end %>" type="text" name="password"></label>
              <% if flash[:errors] and flash[:errors]['password'] %>
              <div class="form-control-feedback"><%= flash[:errors]['password'][0] %></div>
              <% end %>
          </div>
          <div class="form-group <%= if flash[:errors] then "has-danger" end %>">
            <label class="form-control-label">Confirm Password:
              <input class="form-control <%= if flash[:errors] then "form-control-danger" end %>" type="text" name="password_confirm"></label>
              <% if flash[:errors] and flash[:errors]['password_confirm'] %>
              <div class="form-control-feedback"><%= flash[:errors]['password_confirm'] %></div>
              <% end %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group <%= if flash[:errors] then "has-danger" end %>">
            <label class="form-control-label">Street:
              <input class="form-control <%= if flash[:errors] then "form-control-danger" end %>" type="text" name="street"></label>
              <% if flash[:errors] and flash[:errors]['street'] %>
              <div class="form-control-feedback"><%= flash[:errors]['street'][0] %></div>
              <% end %>
          </div>
          <div class="form-group <%= if flash[:errors] then "has-danger" end %>">
            <label class="form-control-label">City:
              <input class="form-control <%= if flash[:errors] then "form-control-danger" end %>" type="text" name="city"></label>
              <% if flash[:errors] and flash[:errors]['city'] %>
              <div class="form-control-feedback"><%= flash[:errors]['city'][0] %></div>
              <% end %>
          </div>
          State: <select class="" name="state">
            <option value="AL">AL</option>
            <option value="AR">AR</option>
            <option value="IL">IL</option>
            <option value="IN">IN</option>
            <option value="PA">PA</option>
            <option value="UT">UT</option>
            <option value="CA">CA</option>
            <option value="DE">DE</option>
            <option value="LA">LA</option>
            <option value="ME">ME</option>
            <option value="MA">MA</option>
          </select> </p>

          <div class="form-group <%= if flash[:errors] then "has-danger" end %>">
            <label class="form-control-label">Credit Card:
              <input class="form-control <%= if flash[:errors] then "form-control-danger" end %>" type="text" name="card_number"></label>
              <% if flash[:errors] and flash[:errors]['card_number'] %>
              <div class="form-control-feedback"><%= flash[:errors]['card_number'][0] %></div>
              <% end %>
          </div>
          <p>Click here if you would like daily notifications: <input type="checkbox" name="notification"></p>
          <input class="btn btn-primary" type="submit" name="registerBtn" value="Register">
          <a class="btn btn-info" href="/login">Login</a>
        </div>
      </form>
    </div>
  </div>
</div>
