<div class="container">
  <%= link_to image_tag("http://imgur.com/7IDTkAo.png", :alt => "logo") %>
  <h3>Check out today's deals and see what's waiting for you in the wings!</h3>
  <% if session[:user_id] != nil %>
    <a class="btn btn-primary" href="/user/<%= @user.id %>">My Profile</a>
    <a class="btn btn-primary" href="/logout">Logout</a>
  <% else %>
    <a class="btn btn-primary" href="/register">Sign Up</a>
  <% end %>
  <a class="btn btn-primary" href="/cart">Cart</a>
  <div class="card-columns" style="display: inline-block">
    <div class="card" style="text-align: center; width: 275px; background-color:rgb(88, 215, 208); border: 2px solid rgb(122, 111, 117); color: rgb(122, 111, 117); margin-top:10px;">
      <% @deals.each do |deal| %>
      <img class="card-img-top" src="<%= deal.photo %>" alt="Oh no! Missing Image!" style="width: 270px; height: auto;">
        <div class="card-block" style="margin-top: 10px;">
          <h4 class="card-title"><%= deal.name %></h4>
          <p class="card-text"><%= deal.description %></p>
          <p class="card-text" style="font-weight: bold;">$<%= '%.2f'%deal.price %></p>
          <p class="card-text">Original Price: $<%= '%.2f'%(deal.discount+deal.price) %><br>($<%= '%.2f'%deal.discount %> off!)</p>
          <form action="/deal/<%= deal.id %>" method="post">
              <input type="hidden" name="type" value="deal">
              <input class="btn btn-primary" type="submit" value="See Details">
          </form>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <h1 style="text-align: center; margin: 10px;">Look at these deals, coming up soon!</h>
  </div>
  <div class="card-columns" style="display: inline-block;">
    <% @items.each do |item| %>
      <div class="card" style="text-align: center; width:275px; background-color: rgb(122, 111, 117); border: 2px solid rgb(88, 215, 208); margin-top: 10px;">
        <img class="card-img-top" src="<%= item.photo %>" alt="Oh no! Missing Image!" style="width: 270px; height: auto; align: center">
        <div class="card-block">
            <h4 class="card-title"><%= item.name %></h4>
            <p class="card-text"><%= item.description %></p>
            <p class="card-text" style="font-weight: bold;">$<%= '%.2f'%item.price %></p>
            <form action="/deal/<%= item.id %>" method="post">
                <input type="hidden" name="type" value="item">
                <input class="btn btn-primary" type="submit" value="See Details">
            </form>
        </div>
      </div>
    <% end %>
  </div>
</div>
