<h1>All DACADA Deals</h1>

<a href="/logout">Logout</a>
<a href="/user/<%= @user.id %>">My Profile</a>

<div class="">
  <% @items.each do |item| %>
    <div class="">
      Item name:<a href="/deal/<%= item.id %>"><%= item.name %></a>
      Description <textarea name="name" rows="2" cols="10"><%= item.description %></textarea>
      Price: $<%= item.price %>
      Date: <%= item.deal_date.strftime('%B %d, %Y') %>
      Manufacturer: <%= item.manufacturer %>
      Stock #: <%= item.stock %>
      Category: <%= item.category_id %>
    </div>
  <% end %>
</div>
