<%= link_to image_tag("Dacada_Logo.png", :alt => "logo") %>
<h3>Check out today's deals and see what's waiting for you in the wings!</h3>
<% if session[:user_id] != nil %>
  <a class="btn btn-primary" href="/logout">Logout</a> <a class="btn btn-primary" href="/user/<%= @user.id %>">My Profile</a>
<% else %>
  <a href="/register">Sign Up</a>
<% end %>
<a class="btn btn-primary" href="/cart">Cart</a>

<div class="card" style="text-align: center; width: 275px; background-color:rgb(88, 215, 208); border: 2px solid lightgrey;">
  <% @deals.each do |deal| %>
    <div class="card-block">
      <h4 class="card-title"><%= deal.name %></h4>
      <p class="card-text"><%= deal.description %></p>
      <p class="card-text" style="text-">$<%= deal.price %></p>
      <p class="card-text">Deal of the Day Discount: $<%= deal.discount %></p>
      <a href="/deal/<%= deal.id %>" class="btn btn-primary">See Details</a>
    </div>
  <% end %>
</div>

<div class="card" style="text-align: center; width:275px; background-color:lightgrey; border: 2px solid rgb(88, 215, 208); margin-top: 10px;">
  <% @items.each do |item| %>
    <div class="card-block">
      <h4 class="card-title"><%= item.name %></h4>
      <p class="card-text"><%= item.description %></p>
      <p class="card-text"><%= item.price %></p>
      <a href="/deal/<%= item.id %>" class="btn btn-primary">See Details</a>
    </div>
  <% end %>
</div>
