<h1>Item details</h1>
<div class="">

      Name: <%= @item.name %></a></br>
      Description <textarea name="name" rows="2" cols="10"><%= @item.description %></textarea></br>
      Price: $<%= @item.price %></br>
      Date: <%= @item.deal_date.strftime('%B %d, %Y') %></br>
      Manufacturer: <%= @item.manufacturer %></br>
      Stock #: <%= @item.stock %></br>
      Category: <%= @item.category_id %></br>

      <form action="/cart_add" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input type="hidden" name="item_id" value="<%= @item.id %>">
        <input type="submit" name="" value="Purchase">

</div>
<a href="/deals">All Deals</a>
