<h1 style="margin-left: 90px;">Item Details</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <img src="<%= @item.photo %>" alt="Oh no! Missing Image!" style="width: 270px; height: auto; margin-top:125px;">
    </div>
    <div class="col-4" style="font-size:18;">
      <p><span style="font-weight: bold;">Item:</span> <%= @item.name %></a></p></br>
      <p><span style="font-weight: bold;">Description:</span> <%= @item.description %></p></br>
      <p><span style="font-weight: bold;">Price:</span> $<%= '%.2f'%@item.price %></p></br>
      <p><span style="font-weight: bold;">Deal Date:</span> <%= @item.deal_date.strftime('%B %d, %Y') %></p></br>
      <p><span style="font-weight: bold;">Manufacturer:</span> <%= @item.manufacturer %></p></br>
      <p><span style="font-weight: bold;">Stock #:</span> <%= @item.stock %></p></br>
      <p><span style="font-weight: bold;">Category:</span> <%= @item.category.name %></p></br>

      <% if @is_deal %>
        <% if !session[:cart].include? @item.id %>
            <form action="/cart_add" method="post">
                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <input type="hidden" name="item_id" value="<%= @item.id %>">
                <input class="btn btn-info" type="submit" name="" value="Add to Cart" style="margin-bottom: 10px;">
            </form>
        <% else %>
            <h6>This item is already in your <a href="/cart">cart</a></h6>
        <% end %>
      <% else %>
        <h6>This item is only for sale on <%= @item.deal_date.strftime("%B %d, %Y") %></h6>
      <% end %>

    </div>
    <div class="col-4">
        <% if !@reviews.empty? %>
            <h3>Reviews</h3>
            <% @reviews.each do |review| %>
                <h6 style="text-decoration: underline;"><%= review.title %></h6>
                <p><%= review.user.first_name %> said "<%= review.content %>" - <%= review.rating %>/10</p>
            <% end %>
        <% elsif session[:user_id] and @buyers.include? User.find(session[:user_id]) %>
            <a href="/review/<%= @item.id %>">Leave a Review</a>
        <% else %>
            <h6>There are no reviews for this item (log in and purchase to leave one)</h6>
        <% end %>
    </div>
  </div>
  <a class="btn btn-primary" href="/deals" style="margin-left: 90px;">All Deals</a>
</div>
